/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-bottom: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Estilos específicos para o formulário de cadastro */
  #errorMsg {
    color: red;
    margin-bottom: 10px;
  }
  
